[submodule "server/libusbx"]
	path = server/libusbx
	url = https://github.com/scanlime/libusbx.git
[submodule "server/libwebsockets"]
	path = server/libwebsockets
	url = https://github.com/scanlime/libwebsockets.git
[submodule "server/rapidjson"]
	path = server/rapidjson
	url = https://github.com/scanlime/rapidjson.git
